/* basic style => for all pages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  text-align: center;
  color: #ce4415;
}
a:hover {
  color: #90d4c6;
}
@font-face {
  font-family: Gothic;
  src: url(Gothic.otf);
}
body {
  background-color: #151a1e;
  color: #dbd1b7;
  font-family: Gothic;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}
h2 {
  display: block;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  line-height: 4rem;
}
img {
  height: 1.8rem;
  width: 12rem;
}

.spent-logo {
  position: fixed;
  left: 50%;
  bottom: 4vh;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

/* Fade in animation for first intro page */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*  style => for intro page */
.intro {
  padding: 2rem;
  margin-top: 15vh;
  width: 100%;

  display: inline-block;
  animation: fadeIn 1.5s linear;
  transition: all 0.1s;
}
.link,
.link-intro {
  display: inline-block;
  margin-top: 2rem;
  font-size: 2rem;

  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  letter-spacing: 0.05em;
  letter-spacing: 0.5rem;
}
.button {
  padding: 1rem;
  border-radius: 5px;
  background-color: #ce4415;
  color: #0f1214;
  display: inline-block;
  margin-top: 2rem;
}

.button:hover {
  background-color: #90d4c6;
}

/* Fade in animation for in-game question */
@keyframes fadeInlast {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* Pulsalting animation for the remaining intro */

@keyframes pulsate {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* other class properties for animations */
.container {
  height: 100%;
  width: 100%;
}
.markup,
.fadeInLastQuery {
  display: inline-block;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  width: 100%;

  position: absolute;
  top: 45%;
  left: 25%;
  margin-left: -25%;
  margin-right: 25%;

  opacity: 0;
  transition: all 0.1s;
}
.markup {
  animation: pulsate 3s 1;
}
.fadeInLastQuery {
  animation: fadeInlast 200s 1 20s;
}
.markup-2 {
  animation-delay: 4s;
}
.markup-3 {
  animation-delay: 8s;
}
.markup-4 {
  animation-delay: 12s;
}
.markup-5 {
  animation-delay: 16s;
}

.startGame-query {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;

  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeInlast 400s 1 4s;
}

/* //bug to fix// 
@media only screen and (max-width: 700px) {
  .intro {
    margin-top: 35vh;
  }
  .link {
    font-size: 3.5rem;
    margin-top: -7rem;
  }
  .startGame-query {
    font-size: 3rem;
  }
} */
