/* default styling */
:root {
  --primary: #383333;
  --primary-light: #8a8282;
  /* --primary: #151a1e; */
  --secondary: #dbd1b7;
  --tertiary: #ce4415;
  --basic: #90d4c6;
}
@font-face {
  font-family: Gothic;
  src: url(../Gothic.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--primary);
  color: var(--secondary);
  font-family: Gothic;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.3rem;
  width: 100vw;
}

/* body */
main {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

/* left */
main > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 3rem;
  font-size: 25px;
  padding: 1rem;
}
/* question */
.left > :nth-child(2) {
  font-weight: 700;
}
/* choice */
.left > :nth-child(3) {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 80%;
  margin-top: -1.5rem;
}

/* right */
main > div:nth-child(2) {
  position: absolute;
  width: 27px;
  height: 85vh;
  right: 0px;
  top: 68px;
  background: var(--primary-light);
  border-radius: 30px 0px 0px 0px;
}
main > div:nth-child(2) > div {
  position: absolute;
  width: 27px;
  height: 62vh;
  right: 0px;
  top: 150px;
  background: #433c3c;
  border-radius: 30px 30px 0px 0px;
}

/* footer logo */
img {
  height: 4rem;
  width: 7rem;
  margin-bottom: 1rem;
}
